name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  # ------------------------------------------------------------------
  # JOB 1: Build + Analyze
  # ------------------------------------------------------------------
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install outils ci
        run: |
          pip install bandit safety

      # --- ÉTAPE 1 : Safety Scan (avec Authentification) ---
      - name: Safety
        env:
          # Ceci injecte la clé API pour que 'safety' puisse s'authentifier
          SAFETY_API_KEY: ${{ secrets.SAFETY_API_KEY }}
        run: |  # <--- CORRECTION D'INDENTATION : 'run' est maintenant aligné avec 'env'
          safety scan -r requirements.txt

      - name: Analyse de code avec Bandit
        run: bandit -r . -q || exit 1

  # ------------------------------------------------------------------
  # JOB 2: Analyse SonarCloud
  # ------------------------------------------------------------------
  sonarqube:
    name: SonarQube
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}